<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  xmlns:virtualization="http://schemas.microsoft.com/appx/manifest/virtualization/windows10"
  IgnorableNamespaces="uap rescap com desktop desktop6 virtualization">

	<Identity
	  Name="9364d1bf-9e77-4283-8e47-507c26e4b31c"
	  Publisher="CN=PC"
	  Version="0.1.0.0" />

	<mp:PhoneIdentity
	  PhoneProductId="9364d1bf-9e77-4283-8e47-507c26e4b31c"
	  PhonePublisherId="00000000-0000-0000-0000-000000000000" />

	<Properties>
		<DisplayName>FluentBitwarden</DisplayName>
		<PublisherDisplayName>PC</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
		<desktop6:RegistryWriteVirtualization>disabled</desktop6:RegistryWriteVirtualization>
		<virtualization:RegistryWriteVirtualization>
			<virtualization:ExcludedKeys>
				<virtualization:ExcludedKey>HKEY_CURRENT_USER\Software\Google\Chrome\NativeMessagingHosts\com.fluentbitwarden.browseproxy</virtualization:ExcludedKey>
				<virtualization:ExcludedKey>HKEY_CURRENT_USER\Software\Microsoft\Edge\NativeMessagingHosts\com.fluentbitwarden.browseproxy</virtualization:ExcludedKey>
				<virtualization:ExcludedKey>HKEY_CURRENT_USER\Software\Mozilla\NativeMessagingHosts\com.fluentbitwarden.browseproxy</virtualization:ExcludedKey>
				<virtualization:ExcludedKey>HKEY_CURRENT_USER\Software\Google\Chrome\NativeMessagingHosts\com.fluentbitwarden.browser&#104;ost</virtualization:ExcludedKey>
				<virtualization:ExcludedKey>HKEY_CURRENT_USER\Software\Microsoft\Edge\NativeMessagingHosts\com.fluentbitwarden.browser&#104;ost</virtualization:ExcludedKey>
				<virtualization:ExcludedKey>HKEY_CURRENT_USER\Software\Mozilla\NativeMessagingHosts\com.fluentbitwarden.browser&#104;ost</virtualization:ExcludedKey>
			</virtualization:ExcludedKeys>
		</virtualization:RegistryWriteVirtualization>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate" />
	</Resources>

	<Applications>
		<!-- Visible lifetime host for tray and UI process activation. -->
		<Application Id="MainApp"
					 Executable="FluentBitwarden.AppHost.exe"
					 EntryPoint="windows.fullTrustApplication">
			<uap:VisualElements
			  DisplayName="FluentBitwarden"
			  Description="FluentBitwarden"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Images\SplashScreen.png" />
			</uap:VisualElements>

			<Extensions>

				<desktop:Extension
					Category="windows.fullTrustProcess"
					Executable="FluentBitwarden.ComServer\FluentBitwarden.ComServer.exe" />
			</Extensions>
		</Application>

		<!-- WinUI vault UI process. The AppHost launches and foregrounds it. -->
		<Application Id="UiApp"
					 Executable="FluentBitwarden.Ui\FluentBitwarden.Ui.exe"
					 EntryPoint="windows.fullTrustApplication">
			<uap:VisualElements
			  DisplayName="FluentBitwarden UI"
			  Description="FluentBitwarden UI"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png"
			  AppListEntry="none" >
				<uap:DefaultTile/>
			</uap:VisualElements>
		</Application>

		<!-- Browser native messaging host. Browser extensions launch it as a stdio helper. -->
		<Application Id="BrowseProxyApp"
					 Executable="FluentBitwarden.BrowseProxy\FluentBitwarden.BrowseProxy.exe"
					 EntryPoint="windows.fullTrustApplication">
			<uap:VisualElements
			  DisplayName="FluentBitwarden Browse Proxy"
			  Description="FluentBitwarden Browse Proxy"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png"
			  AppListEntry="none" >
				<uap:DefaultTile/>
			</uap:VisualElements>
		</Application>

		<!-- Native helper / COM server -->
		<Application Id="ComServerApp"
					 Executable="FluentBitwarden.ComServer\FluentBitwarden.ComServer.exe"
					 EntryPoint="windows.fullTrustApplication">
			<uap:VisualElements
			  DisplayName="FluentBitwarden Passkey Plugin"
			  Description="FluentBitwarden Passkey Plugin"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png"
			  AppListEntry="none" >
				<uap:DefaultTile/>
			</uap:VisualElements>

			<Extensions>
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer
						  Executable="FluentBitwarden.ComServer\FluentBitwarden.ComServer.exe"
						  Arguments="-PluginActivated"
						  DisplayName="FluentBitwarden Passkey Plugin">
							<com:Class
							  Id="3C4F8D12-7A6B-4E91-9A37-C25D148FB670"
							  DisplayName="FluentBitwarden Passkey Plugin" />
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>
				
				
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
		<rescap:Capability Name="unvirtualizedResources" />
	</Capabilities>
</Package>
